ul
  li
    label(for="title") Title
    input(name="title" type="text" id="title" value=book.title)
  li
    label(for="author") Author
    input(name="author" type="text" id="author" value=book.author)
  li
    label(for="genre") Genre 
    input(name="genre" type="text" id="genre" value=book.genre)
  li
    label(for="year") Year
    input(name="year" type="text" id="year" value=book.year)
p.buttons
  input(type="submit" class="button")
  |