extends ../layout 

block content 
  div.main-content
    include errors
    form(action="/books" method="post") 
      include form
      input(type="submit" value="Save")
      a(href="/books" class="button") Cancel 
