doctype html 
html 
  head 
    title= title  
    link(rel="stylesheet" href="/stylesheets/style.css" type="text/css")
  body 
    header.clearfix  
      h1= title 
      include search
      
    block content 
        