body {
  padding: 10px 50px 50px;
  font: 18px "Garamond", serif;
}

h1 {
  text-align: center;
  margin-top: 40px;
  text-transform: uppercase;
}

p {
  font-size: 1.2em;
}

  .dialog {
    margin: 3em auto;
  }

a {
  color: #000033;
  text-decoration: none;
  font-weight: bold;
  transition: 0.4s;
}

  .button {
    margin-right: 1.5em;
  }

  a:hover {
    color: #0000b3;
  }

a.button, input[type=submit] {
  color: white;
  background: #000033;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 10px 14px 12px; 
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.4s;
}

  a.button:hover, input[type=submit]:hover {
    background-color: #0000b3;
  }

input[type=submit] {
  font-weight: bold;
  margin-right: 20px; 
  border: 0;
}

input[type=search] {
  padding: 10px 14px 12px; 
  font-size: 14px;
  border-radius: 5px;
  margin-right: 5px;
}

input[type=text] {
  width: 350px;
  padding: 10px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 0.8em;
  border-radius: 5px;
  border-color: #E7E7E7;
  transition: 0.4s;
}

.pagination {
  display: inline-block;
  padding: .5em auto;
  margin: 1em auto;
}

  .pagination a {
    float: left; 
    padding: .5em;
    margin-right: .5em;
  }

.search-form {
  text-align: center;
}

.main-content {
  margin-top: 20px; 
  padding-top: 1em;
}

th {
  border-bottom: 2px solid forestgreen;
  text-align: left;
  padding: 5px 20px 5px 10px;
}

tr {
  min-height: 50px;
  font-size: 18px;
}

tr:nth-child(2n) {
  background: #E7E7E7;
}

td {
  padding: 5px 20px 5px 10px;
}

label {
  font-weight: bold;
  min-width: 130px;
  font-size: 1em;
  margin-right: none;
  text-transform: uppercase;
  display: inline-block;
  transition: 0.4s;
}

.error {
  background-color: #ffe6e6;
  color: firebrick;
  box-shadow: -2px 2px 3px #ffe6e6;
  max-width: 350px;
  border-radius: 10px;
  margin: auto;
  padding: 5px 10px 5px 10px;
}

  .error p {
    margin: auto;
    text-align: center;
    padding: 2px;
  }

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

@media (min-width: 769px) {

  h1 {
    float: left;
    width: 60%;
    text-align: left;
  }

  .search-form {
    width: 40%;
    text-align: right;
    position: fixed;
    right: 25px;
    top: 20px;
  }

  p {
    margin: 25px auto;
  }

  .error {
    display: inline-block;
    max-width: none;
    width: auto;
    position: fixed;
    top: 20%;
    left: 55%;
    z-index: 3;
  }

  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
}

